body{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.form-container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #1F80FF;
  border: 2px solid black;
}

.title-container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #BFBDC1;
  border: 2px solid black;
}
.titleHeadingDiv{
  display: flex;
  height: 52vh;
  width: 24vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1F80FF;
  border: 2px solid #FF6E26;
  border-radius: 50%;
}
.titleTitle{
  font-family: Impact, Charcoal, sans-serif;
  color: white;
  line-height: 60px;
  font-size: 26px;
  border-bottom: 7px double #FF6E26;
  margin-top: -2vh;
  margin-bottom: 5vh;
}
.titleSubtitle{
  text-align: center;
  color: White;
  width: 13vw;
}
.theForm{
  height: 31vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #BFBDC1;
  border: 2px solid #FF6E26;
  border-radius: 40px;
  width: 24vw;
  padding-top: 2vw;

}
.inputAndLable label{
  color: #586994;
}
.colorTheButton{
  background-color: #FF6E26;
  color: white;
  margin: 1vw;
}
.inputAndLable{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 2vh;
}
.app-logo-icon{
  width: 10vw;
  height: 10vw;
  margin-bottom: 4vh;
  border: 3px solid #FF6E26;
  border-radius: 25px;
}
.weatherCol{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
  width: 21vw;
  align-items: center;
  background-color: #BFBDC1;
  margin-bottom: 3vh;
  border: 2px solid #00274C;
  border-radius: 50%;
}
.weatherInfoDiv{
  height: 15vh;
}
.weatherColHeader{
  margin-top: 3vh;
  text-decoration: #00274C solid underline;
  text-underline-position: under;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 21px;
}
@media only screen and(min-width: 768px){
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
  }

  .form-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #1F80FF;
    border: 2px solid black;
  }
  
  .title-container{
    height: 80vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #BFBDC1;
    border: 2px solid black;
  }
  .titleHeadingDiv{
    display: flex;
    height: 52vh;
    width: 24vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1F80FF;
    border: 2px solid #FF6E26;
    border-radius: 50%;
  }
  .titleTitle{
    font-family: Impact, Charcoal, sans-serif;
    color: white;
    line-height: 30px;
    /* font-size: 22px; */
    border-bottom: 7px double #FF6E26;
    margin-top: -2vh;
    margin-bottom: 5vh;
    width: 8vw;
  }
  .titleSubtitle{
    text-align: center;
    color: White;
  }
  .theForm{
    height: 31vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #BFBDC1;
    border: 2px solid #FF6E26;
    border-radius: 40px;
    width: 24vw;
    padding-top: 2vw;
  
  }
  .inputAndLable label{
    color: #586994;
  }
  .colorTheButton{
    background-color: #FF6E26;
    color: white;
    margin: 1vw;
  }
  .inputAndLable{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 2vh;
  }
  .app-logo-icon{
    width: 10vw;
    height: 10vw;
    margin-bottom: 4vh;
    border: 3px solid #FF6E26;
    border-radius: 25px;
  }
  .weatherCol{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
    width: 21vw;
    align-items: center;
    background-color: #BFBDC1;
    margin-bottom: 3vh;
    border: 2px solid #00274C;
    border-radius: 50%;
  }
  .weatherInfoDiv{
    height: 15vh;
  }
  .weatherColHeader{
    margin-top: 3vh;
    text-decoration: #00274C solid underline;
    text-underline-position: under;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 21px;
  }
}
@media only screen and(min-width: 992){
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
  }

  .form-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #1F80FF;
    border: 2px solid black;
  }
  
  .title-container{
    height: 80vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #BFBDC1;
    border: 2px solid black;
  }
  .titleHeadingDiv{
    display: flex;
    height: 52vh;
    width: 18vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1F80FF;
    border: 2px solid #FF6E26;
    border-radius: 50%;
  }
  .titleTitle{
    font-family: Impact, Charcoal, sans-serif;
    color: white;
    line-height: 30px;
    /* font-size: 22px; */
    border-bottom: 7px double #FF6E26;
    margin-top: -2vh;
    margin-bottom: 5vh;
    width: 8vw;
  }
  .titleSubtitle{
    text-align: center;
    color: White;
  }
  .theForm{
    height: 31vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #BFBDC1;
    border: 2px solid #FF6E26;
    border-radius: 40px;
    width: 24vw;
    padding-top: 2vw;
  
  }
  .inputAndLable label{
    color: #586994;
  }
  .colorTheButton{
    background-color: #FF6E26;
    color: white;
    margin: 1vw;
  }
  .inputAndLable{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 2vh;
  }
  .app-logo-icon{
    width: 10vw;
    height: 10vw;
    margin-bottom: 4vh;
    border: 3px solid #FF6E26;
    border-radius: 25px;
  }
  .weatherCol{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
    width: 21vw;
    align-items: center;
    background-color: #BFBDC1;
    margin-bottom: 3vh;
    border: 2px solid #00274C;
    border-radius: 50%;
  }
  .weatherInfoDiv{
    height: 15vh;
  }
  .weatherColHeader{
    margin-top: 3vh;
    text-decoration: #00274C solid underline;
    text-underline-position: under;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 21px;
  }
}
@media only screen and(min-width: 1200px){
body{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.form-container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #1F80FF;
  border: 2px solid black;
}

.title-container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #BFBDC1;
  border: 2px solid black;
}
.titleHeadingDiv{
  display: flex;
  height: 52vh;
  width: 20vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1F80FF;
  border: 2px solid #FF6E26;
  border-radius: 50%;
}
.titleTitle{
  font-family: Impact, Charcoal, sans-serif;
  color: white;
  line-height: 60px;
  border-bottom: 7px double #FF6E26;
  margin-top: -2vh;
  margin-bottom: 5vh;
  width: 10vw;
}
.titleSubtitle{
  text-align: center;
  color: White;
}
.theForm{
  height: 31vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #BFBDC1;
  border: 2px solid #FF6E26;
  border-radius: 40px;
  width: 24vw;
  padding-top: 2vw;

}
.inputAndLable label{
  color: #586994;
}
.colorTheButton{
  background-color: #FF6E26;
  color: white;
  margin: 1vw;
}
.inputAndLable{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 2vh;
}
.app-logo-icon{
  width: 10vw;
  height: 10vw;
  margin-bottom: 4vh;
  border: 3px solid #FF6E26;
  border-radius: 25px;
}
.weatherCol{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
  width: 21vw;
  align-items: center;
  background-color: #BFBDC1;
  margin-bottom: 3vh;
  border: 2px solid #00274C;
  border-radius: 50%;
}
.weatherInfoDiv{
  height: 15vh;
}
.weatherColHeader{
  margin-top: 3vh;
  text-decoration: #00274C solid underline;
  text-underline-position: under;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 21px;
}
}